@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "fonts.css";
@import "modal.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    line-height: 1;
    color: #3A3B3D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    z-index: 10;
}

@media (max-width: 768px) {
    .header {
        padding: 15px 0;
    }

    .header img{
        max-width: 98px;
    }
}

.main-section{
    position: relative;
    height: 871px;
    animation: fade-slide 8s ease-in 5s infinite alternate;
}

.slider-wrapper{
    position: relative;
    margin-top: 108px;
    max-width: 55%;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.slider-wrapper img{
    max-width: 100%;
}

.slider-1{
    max-height: 50%;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.slider-2{
    max-height: 50%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.slider-3{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 50%;
    height: 100%;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.slider-3 img{
    height: 100%;
    object-fit: fill;
}

.main-section__title{
    position: absolute;
    top: 140px;
    right: 20%;
    font-size: 51px;
    line-height: 28px;
    font-family: 'Berlingske Serif';
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main-section-mobile{
    display: none;
}

@media (max-width: 768px) {
    .main-section{
        display: none;
    }
    .main-section-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #000;
        padding-top: 54px;
        height: 100vh;
        animation: fade-slide-mobile 8s ease-in 5s infinite alternate;
    }
    .main-section-mobile__title{
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        font-family: 'Berlingske Serif';
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #fff;
        margin-top: 30px;
    }

    .slider-wrapper-mobile {
        position: relative;
        max-height: 340px;
        height: 100%;
    }

    .slider-wrapper-mobile img{
        object-fit: cover;
        height: 100%;
    }

    .slider-wrap-two{
        display: flex;
        height: 100%;
    }

    .slider-mobile-1,
    .slider-mobile-2{
        max-width: 50%;
    }

    .slider-mobile-3{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        -webkit-clip-path: polygon(50% 50%, 100% 100%, 0 100%);
        clip-path: polygon(50% 50%, 100% 100%, 0 100%);
    }

    .slider-mobile-3 img{
        vertical-align: bottom;
        max-width: initial;
    }

    .slider-mobile-1{
        -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }

    .slider-mobile-2{
        -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
}

.thanks{
    background: #F2EEE8;
    padding: 90px 0;
}

.thanks p {
    font-size: 35px;
    line-height: 42px;
    text-align: center;
}

.thanks h3{
    font-size: 52px;
    line-height: 63px;
    text-align: right;
    margin-top: 95px;
}

@media (max-width: 768px) {
    .thanks {
        padding: 60px 0;
    }

    .thanks p{
        font-size: 15px;
        line-height: 22px;
    }

    .thanks h3{
        font-size: 25px;
        line-height: 30px;
        margin-top: 40px;
    }
}

.preview{
    position: relative;
}

.preview .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    max-width: 150px;
    z-index: 5;
}

.preview .play-btn img{
    max-width: 100%;
}

.preview__video{
    max-width: 100%;
    object-fit: none;
    vertical-align: bottom;
}

@media (max-width: 768px) {
    .preview__video {
        object-fit: contain;
    }
    .preview .play-btn{
        max-width: 125px;
    }
}

.vision,
.research{
    position: relative;
    background-color: #000000;
}

.vision__bg,
.research__bg{
    max-width: 100%;
    vertical-align: bottom;
}

.vision-inner{
    position: absolute;
    left: 20%;
    top: 120px;
}

.vision__title{
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.vision__subtitle{
    font-family: 'Berlingske Serif';
    font-weight: 300;
    font-size: 51px;
    line-height: 28px;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
}

.vision__desc{
    font-size: 16px;
    line-height: 30px;
    max-width: 382px;
}

.vision-mobile {
    display: none;
}

@media (max-width: 768px) {
    .vision{
        display: none;
    }

    .vision-mobile{
        display: block;
    }

    .vision-mobile-inner{
        background: #F2EEE8;
        padding: 30px 20px;
    }

    .vision-mobile__title{
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
    }

    .vision-mobile__subtitle{
        font-family: 'Berlingske Serif';
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.1em;
        margin: 20px 0;
    }

    .vision-mobile__desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }

    .vision-mobile__bg{
        max-width: 100%;
        vertical-align: bottom;
    }
}

.research-inner{
    position: absolute;
    left: 10%;
    top: 120px;
}

.research__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
    max-width: 381px;
}

.research__title:first-child{
    text-transform: uppercase;
}

.research__title:nth-child(2) {
    margin-bottom: 30px;
}

.research__desc{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    max-width: 385px;
}

.research__desc:last-child{
    max-width: 100%;
}

.research__desc:last-child{
    margin-bottom: 0;
}

.research-mobile{
    display: none;
}

@media (max-width: 1280px) {
    .research-inner{
        left: 5%;
        top: 20px;
    }
}

@media (max-width: 768px) {
    .research{
        display: none;
    }

    .research-mobile{
        display: block;
        margin-bottom: -1px;
    }

    .research-mobile-inner{
        background: #CFDAE0;
        padding: 30px 20px;
    }

    .research-mobile__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .research-mobile__title:first-child{
        text-transform: uppercase;
    }

    .research-mobile__desc{
        font-size: 14px;
        line-height: 24px;
    }

    .research-mobile__desc:last-child{
        margin-top: 20px;
    }

    .research-mobile__bg{
        max-width: 100%;
        width: 100%;
        vertical-align: bottom;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    background: #000;
    text-align: center;
    color: #fff;
}

.footer-social{
    max-width: max-content;
    display: flex;
    margin: 0 auto 20px;
}

.social__icon{
    margin-right: 43px;
}

.social__icon:last-child{
    margin-right: 0;
}

.footer-links{
    display: flex;
    max-width: max-content;
    margin: 0 auto 20px;
}

.footer__link{
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    font-size: 16px;
    line-height: 30px;
    transition: opacity .15s ease-in;
}

.footer__link:last-child{
    margin-right: 0;
}

.footer__link:hover{
    opacity: .6;
}

@media (max-width: 768px) {
    .footer{
        border-bottom: 2px solid #000;
    }

    .footer__link,
    .footer__copy{
        font-size: 12px;
        line-height: 12px;
    }

    .footer__link{
        margin-right: 30px;
    }

    .footer__link:last-child{
        margin-right: 0;
    }
}

.vjs-big-play-button{
    top: 50%!important;
    left: 50% !important;
    transform: translate(-50%) !important;
}

.my-video-dimensions{
    width: 100% !important;
}

@keyframes fade-slide {
    0% {
        background: url("../images/index-cover-bg_1_v2.jpg") no-repeat center / cover;
    }
    50% {
        background: url("../images/index-cover-bg_2_v2.jpg") no-repeat center / cover;
    }
    100% {
        background: url("../images/index-cover-bg_3_v2.jpg") no-repeat center / cover;
    }
}

@keyframes fade-slide-mobile {
    0% {
        background: url("../images/index-cover-bg_1-mobile.png") no-repeat center / cover;
    }
    50% {
        background: url("../images/index-cover-bg_2-mobile.png") no-repeat center / cover;
    }
    100% {
        background: url("../images/index-cover-bg_3-mobile.png") no-repeat center / cover;
    }
}
